body {
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: rgb(70,70,70);
  background: linear-gradient(90deg, rgba(70,70,70,1) 0%, rgba(150,150,150,1) 50%, rgba(70,70,70,1) 100%);
}
.mainImage {
  max-height: 99vh;
  height: 99vh;
}
.dialogBox {
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5vh;
  width: auto;
  height: 8vh;
  background-color: rgb(60, 60, 60);
  opacity: 0;
  border-radius: 20px;
}
.dialogBoxText {
  color: white;
  font-size: 5vh;
  padding: 0 3vw;
}
.counterZone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 0.5vh;
  left: 0.5vh;
  height:4vw;
  width: 10vw;
  border-radius: 20px;
  background-color: rgb(60, 60, 60);
}
#indexZone {
  display: flex;
  justify-content: right;
  max-width:40% 
}
.indexInput {
  display: none;
  padding: 0;
  margin-left: 1vw;
  color: white;
  background-color: rgb(60, 60, 60);;
  border: none;  
  outline: none;
  text-align: right;
  box-sizing: border-box;
  font-size: clamp(2vw, 2.5vw, 3vw);
}
.indexInput:focus {
  width:70%;
}
.index {
  color:white;
  font-size: clamp(2vw, 2.5vw, 3vw);
}
.index:hover {
  color: rgb(0, 120, 218);
  cursor:pointer;
}
.counter {
  width:40;
  color: white;
  font-size: clamp(2vw, 2.5vw, 3vw); 
}
.cornerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10vw;
  height: 5vh;
  border: none;
  border-radius: 20px;
  background-color: rgb(60, 60, 60);
  font-size: 3.5vh;
  color: white;
}
#importButton {
  top: 4.5vw;
  left: 0.5vh;
}
#importButton:hover {
  color: rgb(0, 120, 218);
  cursor:pointer;
}
#downloadLocationButton {
  top: 7.2vw;
  left: 0.5vh;
}
#downloadLocationButton:hover {
  color: rgb(0, 120, 218);
  cursor:pointer;
}
.linkButton {
  display: flex;
  align-items: center;
  position: absolute;
  border: none;
  outline: none;
  width: auto;
  height: 9vh;
  border-radius: 20px;
  opacity: 0;
  background-color: rgb(60, 60, 60);
  bottom: 15vh; 
  cursor:pointer;
}
.linkButton:hover {
  opacity: 1;
  cursor:pointer; 
}
.linkButton:hover #linkText {
  color: rgb(0, 120, 218);
  cursor:pointer;
}
.linkText {
  font-size: 6vh;
  color: white;
  padding: 0 3vw;
}